<h3>The Elvis Movies</h3>
<br >

<div style="margin-bottom: 24px">
  <%= image_tag 'elvis-chante-tepper-bennett.jpg', class: 'img-fluid', width: '100%', alt: 'Elvis Chante Tepper & Bennett' %>
</div>


