<h3>The Elvis Movies</h3>
<br >

<div style="margin-bottom: 24px">
  <%= image_tag 'elvis-chante-tepper-bennett.jpg', class: 'img-fluid', width: '100%', alt: 'Elvis Chante Tepper & Bennett' %>
</div>


<ul>
  <div class="table-responsive">
    <table class="table  thead-dark">
      <thead class="thead-dark">
      <tr >
        <th>Title</th>
        <th>Movie</th>
        <th style="text-align: center;">Listen</th>
      </tr>
      </thead>

      <% @elvis_recordings.each do |recording| %>
        <%= render 'song_table_row', locals = { recording: recording } %>
      <% end %>
    </table>
  </div>




</ul>