<h3>The Many Genres</h3>
[discuss the variety of genres]
<br/>
<br/>


<h4>Love Songs</h4>
[discuss Red Roses, Kiss of Fire, etc.]
<br/>
<br/>


<h4>Rock & Roll Songs</h4>
[discuss G.I. Blues, Beatles ...]
<br/>
<br/>


<h4>Children's Songs</h4>
[discuss Nuttin for Christmas, Suzy Snowflake (mention The Roches)
<br/>
<br/>


<h4>Movie Songs</h4>
<br/>

<h4>Witty Songs</h4>
[discuss The Naughty Lady of Shady Lane, Song of the Shrimp...]
