<div class="row">

  <div style="margin-bottom: 12px">
    <%= image_tag 'roy-and-sid.jpg', class: 'img-fluid', width: '75%', alt: 'Sid Tepper and Roy C. Bennett' %>
  </div>
  <div class="caption container">Roy C. Bennett (left) and Sid Tepper (right)</div>
  <div class="caption container"></div>
  <br/>


  <div class="container">
    <div>
    <p>
      Sid and Roy were Brooklyn born and bred, and lived across the street from each other through the
      Great Depression. They often found themselves with barely two nickels to rub together, but their friendship didn’t
      require material goods to pass the time. Just paper and pencil. They began their writing career at the
      ripe old age of 11, and really began in earnest, turning avocation into vocation, at age 24.
    </p>


    <p>
      World War II interrupted their partnership, when Sid was stationed with the U.S. Cavalry at Fort Riley, Kansas,
      where he produced shows and sang with the base band. Roy spent three years in the China-Burma-India theatre
      with the U.S. Army Air Forces. In addition to his duties in Intelligence, the Army eventually capitalized
      on his talents and he set to work entertaining the forces.
    </p>


    <p>
      After returning home, they found their way to the iconic Brill Building, the epicenter of the songwriting world in
      Midtown Manhattan, and peddled their songs. They’d start at the top floor and work their way down until they hit a
      publisher who’d make a deal.
      Their confidence grew; it only stands to reason when one of their very first songs was the megahit,
      “Red Roses for a Blue Lady,” what the industry calls an “evergreen”.
    </p>


    <p>
      Sid and Roy were enormously successful, as many hits followed, including
      <%= youtube_text_song_link('“The Naughty Lady of Shady Lane”', '9HxB7lxbTnI') %>,
      <%= youtube_text_song_link('“Kiss of Fire”', 'gVxwN3Eaf_U') %>, and
      <%= youtube_text_song_link('“The Young Ones”', 'BxNohANhJiA') %>,
      not to mention an astonishing 42 songs recorded by Elvis Presley. It’s hard to believe
      that there’s another team who had their songs recorded by such an extraordinary array of artists, from Duke
      Ellington to Louis Armstrong and Ray Charles, to Frank Sinatra, Elvis, and The Beatles.
    </p>


    <p>
      Sid and Roy passed away mere months apart in 2015, but their music lives on to entertain the world.
    </p>


    <p>
      Come look inside and give a listen to many of their songs, which <cite>The New York Times</cite>
      characterized as “catchy melodies and lyrics of easygoing cleverness”…
    </p>
    </div>
  </div>
</div>