<div class="row">
  <%= image_tag 'roy-and-sid.jpg', width: '75%' %>

  <br/><br/>

  Sid (right) and Roy (left) were Brooklyn born and bred, and lived across the street from each other through the Great
  Depression. They often found themselves with barely two nickels to rub together, but their friendship didn’t require
  material goods to pass the time. Just paper and pencil. They began their writing career at the ripe old age of 11, and
  really began in earnest, turning avocation into vocation, at age 24.

  <br/><br/>

  World War II interrupted their partnership, when Sid was stationed with the U.S. Cavalry at Fort Riley, Kansas, where
  he produced shows and sang with the base band. Roy spent three years in the China-Burma-India theatre with the U.S.
  Army Air Forces. In addition to his duties in Intelligence, the Army eventually capitalized on his talents and he set
  to work entertaining the forces.

  <br/><br/>

  After returning home, they found their way to the Brill Building, the epicenter of the songwriting world in Midtown
  Manhattan, and peddled their songs. They’d start at the top floor and work their way down until they hit a publisher
  who’d make a deal. Their confidence grew; how couldn’t it when one of their very first songs was the megahit, “Red
  Roses for a Blue Lady,” what the industry calls an “evergreen?”

  <br/><br/>

  Sid and Roy were enormously successful, as many hits followed, including “The Naughty Lady of Shady Lane,” “Kiss of
  Fire,” and "The Young Ones," not to mention an astonishing 42 songs recorded by Elvis Presley. It’s hard to believe
  that there’s another team who had their songs recorded by such an extraordinary array of artists, from Duke Ellington
  to Louis Armstrong and Ray Charles, to Frank Sinatra, Elvis, and The Beatles.


  <br/><br/>

  Come look inside and give a listen to many of their songs, which the New York Times characterized as “catchy melodies
  and lyrics of easygoing cleverness” …
</div>
