<div class="container-fluid no-horiz-padding">
  <div>
    <div id="accordion" style="background-color: unset">
      <br/><br/>

      <% @reports.each do |rm| %>
        <%= render partial: 'report_card', locals: rm.locals %>
      <% end %>

    </div>
  </div>
</div>

