<tr>
  <td><%= recording.title %></td>
  <td><%= recording.artist %></td>
  <td>
    <input type="image" data-toggle="modal" data-target="#exampleModal"
           onclick="setPlayerYoutubeUrl('<%= recording.embed_url %>');"
          src="<%= youtube_icon_image %>" />
  </td>
</tr>