<h3>The Songs</h3>

<br/><br/>

<p>
  Here is a selection of songs from Tepper and Bennett:
</p>

<br/><br/>

<div class="table-responsive">
  <table class="table  thead-dark">
    <thead class="thead-dark">
      <tr >
        <th>Title</th>
        <th>Artist</th>
        <th style="text-align: center;">Link</th>
      </tr>
    </thead>

    <% @recordings.each do |recording| %>
      <%= song_table_row(recording) %>
    <% end %>
  </table>
</div>
