<div class="container-fluid">

  <h1 class="title">Sid Tepper and Roy C. Bennett</h1>
  <br/>
  <h3 class="tagline">
    Songwriters to the Stars
  </h3>
  <br/>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-selected="true">Home</a>
      <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#nav-history" role="tab" aria-selected="false">History</a>
      <a class="nav-item nav-link" id="nav-songs-tab" data-toggle="tab" href="#nav-songs" role="tab" aria-selected="false">Songs</a>
    </div>
  </nav>
  <br/>
  <br/>


  <div class="tab-content" id="nav-tabContent">


    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


<!--      <div class="row">-->
<!--        <div class="col-12 col-lg-2">-->
          <%#= image_tag 'roy-and-sid.jpg', class: 'img_responsive float-left mr-3 img-rounded', alt: "Sid Tepper and Roy Bennett" %>
<!--        </div>-->
<!--        <div class="col-lg-10">-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui-->
<!--            temporibus aliquid dignissimos dolor aut at, libero est obcaecati atque-->
<!--            culpa, sequi reiciendis nostrum cumque magnam nulla in molestias-->
<!--            nesciunt illo?</p>-->
<!--        </div>-->
<!--      </div>-->


      <!--      <div class="row">-->
<!--      <div class="col-xs-12 col-sm-5">-->
        <%#= image_tag 'roy-and-sid.jpg', class: 'img_responsive' %>
<!--      </div>-->
<!--      <div class="col-xs-12 col-sm-7">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-6">-->
<!--            <h2>Title</h2>-->
<!--          </div>-->
<!--          <div class="col-sm-6">-->
<!--            <h3 class="pull-right">-->
<!--              <%#= Time.now %>>-->
<!--            </h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--        Sid and Roy were Brooklyn born and bred, and lived across the street from each other through the Great-->
<!--        Depression. They often found themselves with barely two nickels to rub together, but they their friendship-->
<!--        didn’t require material goods to pass the time. Just paper and pencil. They began their writing career at-->
<!--        the ripe old age of 11, and really began in earnest, turning their avocation into vocation, at age 24.-->

<!--        <br/><br/>-->

<!--        World War II interrupted their partnership, when Sid was stationed with the U. S. Cavalry at Fort Riley,-->
<!--        Kansas, where he produced shows and sang with the base band. Roy spent three years in the China-Burma-India-->
<!--        theatre with the U.S. Army Air Corps. In addition to his duties in Intelligence, but the Army eventually-->
<!--        capitalized on his talents and set to work entertaining the forces.-->

<!--        <br/><br/>-->

<!--        After returning home, they found their way to the Brill Building, the epicenter of songwriting world in-->
<!--        Midtown Manhattan, and peddled their songs. They’d start at the top floor and work their way down until they-->
<!--        hit a publisher who’d make a deal. Their confidence grew; how couldn’t it when one of their very first songs-->
<!--        was the megahit, “Red Roses for a Blue Lady,” what the industry calls an “evergreen.”-->

<!--        <br/><br/>-->

<!--        They were enormously successful, as many hits followed, including “The Naughty Lady of Shady Lane” and “Kiss-->
<!--        of Fire,” not to mention an astonishing 42 songs recorded by Elvis Presley. It’s hard to believe that-->
<!--        there’s another team who had their songs recorded by such an extraordinary array of artists, from Duke-->
<!--        Ellington to Louis Armstrong and Ray Charles, to Frank Sinatra, Elvis, and The Beatles.-->

<!--        <br/><br/>-->

<!--        Come look inside and give a listen to many of their songs, which the New York Times characterized as “catchy melodies and lyrics of easygoing cleverness” …          </div>-->
<!--      <div class="col-xs-12">-->
<!--        <hr />-->
<!--      </div>-->
<!--    </div>-->


      <div class="container">

        <div class="row">
          <%= image_tag 'roy-and-sid.jpg', width: '75%' %>

          <br/><br/>
          Sid (right) and Roy (left) were Brooklyn born and bred, and lived across the street from each other through
          the Great Depression. They often found themselves with barely two nickels to rub together, but they their
          friendship didn’t require material goods to pass the time. Just paper and pencil. They began their writing
          career at the ripe old age of 11, and really began in earnest, turning their avocation into vocation, at age
          24.

            <br/><br/>

            World War II interrupted their partnership, when Sid was stationed with the U. S. Cavalry at Fort Riley,
            Kansas, where he produced shows and sang with the base band. Roy spent three years in the China-Burma-India
            theatre with the U.S. Army Air Corps. In addition to his duties in Intelligence, but the Army eventually
            capitalized on his talents and set to work entertaining the forces.

            <br/><br/>

            After returning home, they found their way to the Brill Building, the epicenter of songwriting world in
            Midtown Manhattan, and peddled their songs. They’d start at the top floor and work their way down until they
            hit a publisher who’d make a deal. Their confidence grew; how couldn’t it when one of their very first songs
            was the megahit, “Red Roses for a Blue Lady,” what the industry calls an “evergreen.”

            <br/><br/>

            They were enormously successful, as many hits followed, including “The Naughty Lady of Shady Lane” and “Kiss
            of Fire,” not to mention an astonishing 42 songs recorded by Elvis Presley. It’s hard to believe that
            there’s another team who had their songs recorded by such an extraordinary array of artists, from Duke
            Ellington to Louis Armstrong and Ray Charles, to Frank Sinatra, Elvis, and The Beatles.

            <br/><br/>

            Come look inside and give a listen to many of their songs, which the New York Times characterized as “catchy melodies and lyrics of easygoing cleverness” …          </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
      <h3>Their Story</h3>
    </div>


    <div class="tab-pane fade" id="nav-songs" role="tabpanel" aria-labelledby="nav-songs-tab">
      <h3>The Songs</h3>
      <br/>
      <br/>
    </div>
  </div>

  <div class="footer">
    © Bennett Business Solutions, Inc., 2020
  </div>
</div>
