<div class="container-fluid">

  <h1 class="title">Bennett Business Solutions, Inc.</h1>
  <h1 class="title">Software Development and Technical Consulting</h1>
  <br/>
  <h4 class="tagline">
    Making the complex simple, with a specialty in Ruby.
  </h4>
  <br/>
  <h4 class="title">Keith R. Bennett, Senior Software Engineer</h4>
  <br/>
  <br/>


  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-services-tab"     data-toggle="tab" href="#nav-services"     role="tab"  aria-selected="true">Services</a>
        <a class="nav-item nav-link"        id="nav-portfolio-tab"    data-toggle="tab" href="#nav-portfolio"    role="tab"  aria-selected="false">Portfolio</a>
        <a class="nav-item nav-link"        id="nav-testimonials-tab" data-toggle="tab" href="#nav-testimonials" role="tab"  aria-selected="false">Testimonials</a>
        <a class="nav-item nav-link"        id="nav-conferences-tab"  data-toggle="tab" href="#nav-conferences"  role="tab"  aria-selected="false">Conferences</a>
        <a class="nav-item nav-link"        id="nav-links-tab"        data-toggle="tab" href="#nav-links"        role="tab"  aria-selected="false">Links</a>
    </div>
  </nav>
  <br/>
  <br/>


  <div class="tab-content" id="nav-tabContent">


    <div class="tab-pane fade show active" id="nav-services" role="tabpanel" aria-labelledby="nav-services-tab">
      <h3>What We Can Do For You</h3>
      <br/>
      <ul>
        <li>Software Development</li>
        <li>Mentoring, Training, and Tutoring</li>
        <li>Technical Writing (Articles, Documentation, etc.)</li>
        <li>Research</li>
        <li>Troubleshooting / Firefighting</li>
        <li>Team & Process Productivity Enhancement</li>
      </ul>
    </div>


    <div class="tab-pane fade" id="nav-portfolio" role="tabpanel" aria-labelledby="nav-portfolio-tab">
      <h3>Open Source Portfolio - Ruby Gems (Libraries)</h3>

      <br/>
      <ul>
        <li><a href="https://github.com/keithrbennett/rexe"       target="_blank">rexe</a> - a configurable Ruby command line filter, format converter, and executor</li>
        <li><a href="https://github.com/keithrbennett/wifiwand"   target="_blank">wifi-wand</a> - A command line tool to manage wifi, including an interactive shell (Mac only)</li>
        <li><a href="https://github.com/keithrbennett/trick_bag"  target="_blank">trick_bag</a> - Assorted Ruby classes and methods to simplify and enhance your code</li>
        <li><a href="https://github.com/keithrbennett/rock_books" target="_blank">rock_books</a> - a Ruby command line application for simple but functional bookkeeping, with multiple reports</li>
      </ul>
    </div>


    <div class="tab-pane fade" id="nav-testimonials" role="tabpanel" aria-labelledby="nav-testimonials-tab">
      <h3>Testimonials</h3>
      <br/>
      <br/>

      <h4><a href="https://www.linkedin.com/in/jukkazitting/" target="_blank">Jukka Zitting</a>, Google Staff Software
        Engineer; Former Vice President, Apache Software Foundation</h4>

      I got to know Keith when he started contributing to the
      <a href="https://tika.apache.org/" target="_blank">Tika</a>
      open source project at the Apache Software Foundation. His contributions were of high technical quality
      and it didn't take long before we invited him to join the project team as a committer.
      Committership at Apache requires not just technical talent but also peer respect and ability to work together
      in a diverse and highly distributed development community. Keith excelled in all these categories.
      I feel privileged to have worked with him and look forward to future cooperation in Tika or in
      other projects.

      <br/>
      <br/>
      <br/>

      <h4><a href="https://www.linkedin.com/in/alex-dalitz-4817578" target="_blank">Alex Dalitz</a>, Director at
        Caerketton Tech; Author of Dnsruby Ruby Gem</h4>

      I have been enormously fortunate to work with Keith on my dnsruby project
      (<a href="https://github.com/alexdalitz/dnsruby" target="_blank">https://github.com/alexdalitz/dnsruby</a>)
      over the last few years. Indeed, if it wasn't for Keith's
      complete dedication to open source and community software, there would currently be no dnsruby project. It was
      Keith who took the time to ensure that the Verisign usage of the project was contributed back to the community,
      and who persuaded me to continue the project on github when rubyforge ended. I'm certainly glad that he has, and
      I'm sure that the people who have totalled over a million dnsruby downloads agree!

      Keith has been a tireless and committed member of the team, and his indefatigable determination to make things
      work, and work better, has been inspirational. It seems that he simply won't let things go, but has always gone
      the extra mile to ensure that the community are well served - even in the most tedious of circumstances, and out
      of his personal time.

      It's the effort, grit and technical skill of people like Keith that keep the open source community moving forward,
      and I'm truly indebted to him for this.

      I can wholeheartedly recommend Keith - not only for his excellent technical work, but also for his innate
      character - he has always been a joy to work with, and will consistently see the positive whilst working for the
      common good. I think that these skills would prove invaluable to any software team or project - it is rare to find
      such a combination of skill, determination and humility.
    </div>


    <div class="tab-pane fade" id="nav-conferences" role="tabpanel" aria-labelledby="nav-conferences-tab">
      <h3>Conference Presentations</h3>

      <br/>
      <ul>
        <li>"Functional Programming in Ruby", Functional Conf, 2014, Bangalore, India</li>
        <li>"Better Coding with Ruby Lambdas", Steel City RubyConf, 2014, Pittsburgh, PA, USA</li>
        <li>"Command Line Applications in Ruby", RubyConf Philippines, 2018, Manila, Philippines</li>
        <li>"Writing a Command Line Utility in Ruby", Paris.rb Conference, 2018, Paris, France</li>
        <li>"Numerous open space conference and meetup presentations</li>
      </ul>
    </div>


    <div class="tab-pane fade" id="nav-links" role="tabpanel" aria-labelledby="nav-links-tab">
      <h3>Contact Information and Links</h3>
      <br/>

      <ul>
        <li><a href="mailto:kbennett@bbs-solutions.com"                    target="_blank">Email (kbennett@bbs-software.com)</a></li>
        <li><a href="https://github.com/keithrbennett"                     target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/keithrbennett/"           target="_blank">LinkedIn</a></li>
        <li><a href="https://bbs-software.com/blog"                        target="_blank">Technical Blog</a></li>
        <li><a href="https://techhumans.com"                               target="_blank">TechHumans Blog</a></li>
        <li><a href="https://stackoverflow.com/users/501266/keith-bennett" target="_blank">StackOverflow</a></li>
        <li><a href="https://about.me/keithrbennett"                       target="_blank">More about Keith Bennett (About.me)</a></li>
      </ul>
    </div>
  </div>

  <br/>
  <br/>
  <div class="contact-us"><a href="mailto:kbennett@bbs-solutions.com" target="_blank">Email Us</a></div>

  <div class="footer">
    © Bennett Business Solutions, Inc., 2020 -- Email:
    <a href="mailto:kbennett@bbs-solutions.com" target="_blank">kbennett@bbs-solutions.com</a>
  </div>
</div>
