<h3>The Songs</h3>

<br/><br/>

<p>
  Here is a small selection of songs from Tepper and Bennett.
  For a more complete selection, visit <a href="/reports/song_plays">here</a>.
</p>

<br/>

<%= song_table(:artist) %>
