<h3>The Songs</h3>

<br/><br/>

<p>
  Here is a small selection of songs from Tepper and Bennett.
  For a more complete selection, visit <a href="/reports/song_plays">here</a>.
</p>

<br/>

<nav class="nav-pills nav-fill navbar-expand-md nav-justified navbar-light">
  <div class="container nav-container no-horiz-padding" style="display: block">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#songs-scope-navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="songs-scope-navbar" class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav nav-fill mt-2 mt-lg-0">
        <% %w(best elvis all).each do |name| %>
          <li class="nav-item">
            <a
              class="nav-link song-scope-item"
              id="songs-scope-<%= name %>"
              href="/songs/<%= name %>"
              data-toggle="tab"
              role="tab">
              <%= name.capitalize %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<br />

<%= render partial: 'application/song_table', locals: { table_id: 'songsSongTable', song_plays: songs_scope } %>
