<% content_for(:title_suffix) { 'Elvis' } %>
<% content_for(:meta_description) { 'Songwriters Sid Tepper and Roy C. Bennett - The Elvis Songs' } %>

<h3>The Elvis Movies</h3>
<br>

<article>
  <figure>
    <div style="margin-bottom: 24px">
      <%= image_tag(image_path('elvis-chante-tepper-bennett.jpg'), class: 'img-fluid', width: '100%', alt: 'Elvis Chante Tepper & Bennett') %>
    </div>
  </figure>

  <p class="text-justify">
    Each time an Elvis movie was in the works, the Colonel would send the screenplay to their trusted songwriting teams,
    who’d then submit their work for consideration. Some 42 songs by the pair made their way into the films, more than for
    any other team, including two title songs —
    <%= youtube_text_song_link('“GI Blues”', 'GkyjCJvHLsA') %>
    and
    <%= youtube_text_song_link('“Stay Away”', 'wr6MQtFLX6k') %>.
    There were beautiful ballads and smart specialty songs, each crafted with the substance and style that would fit the
    context of a particular scene. The Presley estate recognized the importance of the duo to The King’s career, with both
    a lifetime achievement award and with the Elvis Fans Choice Award for Best Movie Soundtrack for their five songs in
    the movie “Blue Hawaii”.
  </p>
<!--  <br/>-->
</article>

<p>
  Here are a few of the Tepper-Bennett Elvis songs.
  For a more complete selection, visit <a href="/reports/song_plays">here</a>.
</p>
<br/>

<%= render partial: 'application/song_table', locals: { table_id: 'elvisSongTable', song_plays: SongPlay.elvis } %>
