body {
  background-color: lightskyblue;
  color: darkblue;
  margin: 16px;
  font-family: 'Spectral', serif;
  //font-family: 'Play', sans-serif;
}

.title {
  font-family: 'Spectral', serif;
  text-align: center;
}

.tagline {
  font-family: 'Spectral', serif;
  font-style: italic;
  text-align: center;
}

.contact-us {
  font-family: 'Spectral', serif;
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
}

.footer {
  padding-top: 40px;
  text-align: center;
  font-size: 10px
}

img {
  padding: 0;
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}
