body {
  //background-color: lightskyblue;
  //background-color: #D27FF0;
  //background-color: #CD9EE6;
  //background-color: #E4C9F2;
  //background-color: #FCD283;
  //background-color: #FFE896;
  //background-color: #fffbc2;
  //background-color: #fff0c2;
  background-color: #FAC962;
  margin: 16px;
  font-family: 'Spectral', serif;
  font-size: 18px;
}

.title {
  font-family: 'Spectral', serif;
  text-align: center;
  font-variant: small-caps;
}

.tagline {
  font-family: 'Spectral', serif;
  font-style: italic;
  text-align: center;
}

.contact-us {
  font-family: 'Spectral', serif;
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
}

.footer {
  padding-top: 40px;
  text-align: center;
  font-size: 10px
}

img {
  padding: 0;
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;

  //Recommended in Bootstrap docs:
  height: auto;
}

.nav-link {
  color: black;
  font-size: 20px;
}

//.modal-dialog {
//  height: 400px;
//}
//

//modal {
//  width: 600px; //size of modal
//  margin: 0 auto;
//}
//
.modal-lg {
  width: 100%;
}

.yt-video-popup-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.88);
  z-index: 8888888;
}

/* iframe */
.yt-video-popup-video {
  display: none;
  z-index: 8888889;
}

.yt-video-popup-video.is-landscape {
  width: 90%;
  height: auto;
  max-width: 1200px;
  max-height: 90%;
}

.yt-video-popup-video.is-hosted.is-portrait {
  width: auto;
  height: 90%;
  max-width: 90%;
}

.yt-video-popup-close {
  //background-image: url(close_button_url_here);
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 0;
  top: 0;
  height: 60px;
  text-align: center;
  width: 60px;
  cursor: pointer;
  z-index: 9999999;
  -moz-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.yt-video-popup-close:hover {
  opacity: 0.7;
}

.yt-video-poup {
  cursor: pointer;
}