body {
  //background-color: lightskyblue;
  //background-color: #D27FF0;
  //background-color: #CD9EE6;
  //background-color: #E4C9F2;
  //background-color: #FCD283;
  //background-color: #FFE896;
  //background-color: #fffbc2;
  //background-color: #fff0c2;
  background-color: #FAC962;
  margin: 16px;
  font-family: 'Spectral', serif;
  font-size: 18px;
}

.title {
  font-family: 'Spectral', serif;
  text-align: center;
  font-variant: small-caps;
}

.tagline {
  font-family: 'Spectral', serif;
  font-style: italic;
  text-align: center;
}

.contact-us {
  font-family: 'Spectral', serif;
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
}

.footer {
  padding-top: 40px;
  text-align: center;
  font-size: 10px
}

img {
  padding: 0;
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;

  //Recommended in Bootstrap docs:
  height: auto;
}

.nav-link {
  color: black;
  font-size: 20px;
}

.modal-lg {
  width: 100%;
}

.table th, .table td {
  vertical-align: middle;
  padding: 4px;
}

.no-horiz-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.image-cell {
  vertical-align: middle;
}