<% content_for(:title_suffix) { 'Inquiries' } %>
<% content_for(:meta_description) { 'Songwriters Sid Tepper and Roy C. Bennett - Inquiries' } %>

<article>
  <h3>Inquiries</h3>

  <br/>

  <p>
    If you are interested in incorporating any of Sid and Roy's songs into your production,
    please contact the appropriate rights administrator(s).
    The name of the rights administrator organization can be found in a column of the <a href="/songs">Songs table</a>.
    This information is not yet complete; we are still in the process of obtaining some of it.
  </p>

  <p>
    For licensing songs administered by Chappell & Co., Inc. 	(Warner Chappell Music), please contact
    <%= mail_to 'filmtvlicensing@warnerchappell.com', 'filmtvlicensing@warnerchappell.com' %>.
  </p>

  <p>
    For licensing songs administered by Universal Music Publishing Group (UMPG), please visit
    <%= link_to 'http://www.umusicpub.com/us/license-request', 'http://www.umusicpub.com/us/license-request' %>.
  </p>

  <p>
    For other questions or comments, feel free to contact us at
    <%= mail_to 'info@tepper-bennett.com', 'info@tepper-bennett.com' %>.
  </p>

  <br/>
  <h3>Disclaimer</h3>
  <br/>

  <p>
    This web site is a non-monetized site intended to showcase the Tepper and Bennett musical legacy,
    and to <em>assist</em> music supervisors in the selection of songs and acquiring contact information
    of the appropriate rights administrators.

    All information posted here is done so in good faith, but there may be errors and omissions.
    If you are looking to license a song, please be aware that in some cases there is more than one
    rights administrator, and it is possible there are rights administrators for a given song that
    are not listed on this site.
  <br/><br/>
</article>
