<article>
  <h3>Inquiries</h3>

  <br/>

  <p class="text-justify">
    If you are interested in incorporating any of Sid and Roy's songs into your production,
    please contact the appropriate publisher(s). We will be adding that information to the site soon,
    but until then, if you have trouble finding them, let us know and we can provide that
    information to you.
  </p>

  <p class="text-justify">
    If you have any questions or comments regarding anything other than acquisition of rights,
    feel free to contact us at <%= mail_to 'info@tepper-bennett.com', 'info@tepper-bennett.com' %>.
  </p>

  <br/><br/>
</article>
