<article>
  <h3>Inquiries</h3>

  <br/>

  <p class="text-justify">
    If you are interested in incorporating any of Sid and Roy's songs into your production,
    please contact the appropriate rights administrator(s).
    The name of the rights administrator organization can be found in a column of the <a href="/songs">Songs table</a>.
    This information is not yet complete; we are still in the process of obtaining some of it.
  </p>

  <p class="text-justify">
    For licensing songs administered by Warner Chappell Music, please contact
    <%= mail_to 'filmtvlicensing@warnerchappell.com', 'filmtvlicensing@warnerchappell.com' %>.
  </p>

  <p class="text-justify">
    For other questions or comments, feel free to contact us at
    <%= mail_to 'info@tepper-bennett.com', 'info@tepper-bennett.com' %>.
  </p>

  <br/><br/>
</article>
