<article>
  <h3>Inquiries</h3>

  <br/>

  <p class="text-justify">
    If you are interested in incorporating any of Sid and Roy's songs into your production,
    please contact the appropriate rights administrator(s).
    This information will be in a column of the <a href="/songs">Songs table</a>, possibly as links
    to additional information about the organization.
    This information is not yet complete; we are still in the process of contacting the appropriate people.
  </p>

  <p class="text-justify">
    For other questions or comments, feel free to contact us at
    <%= mail_to 'info@tepper-bennett.com', 'info@tepper-bennett.com' %>.
  </p>

  <br/><br/>
</article>
