<tr>
  <th scope="row"><%= recording.title %></th>
  <td><%= artist_or_movie_name %></td>
  <td align="center">
    <a class="image-cell youtube-view" data-toggle="modal" data-target="#youTubeViewerModal" data-url="<%= recording.embed_url %>"/>
      <%= image_tag('youtube.png', alt: %Q{Listen to "#{recording.title}" by #{recording.artist}}) %>) %>
    </a>
  </td>
</tr>
