<% records.each do |genre| %>
  <% name = genre[:name].capitalize %>
  <% songs = genre[:songs].pluck(:code, :name) %>

  <section>
    <h2><%= name %></h2>
    <% if songs.empty? %>
      <p><%= "[No songs for genre '#{name}']" %></p>
    <% else %>
      <p><%= render partial: 'reports/report_table', locals: { column_headings: ['Genre Code', 'Genre Name'], records: songs } %></p><br/><br/>
    <% end %>
    <br/><br />
  </section>

<% end %>
