<section>
  <h2><%= name %></h2>
  <% if secondaries.empty? %>
    <p><%= "[No entries for this #{name}]" %></p>
  <% else %>
    <p><%= render partial: 'reports/report_table', locals: { column_headings: column_headings, records: secondaries } %></p><br/><br/>
  <% end %>
  <br/><br />
</section>
