<div class="table-responsive">
  <table class="table data-table   thead-dark table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Performer</th>
      <th>Song</th>
    </tr>
    </thead>
    <tbody>
    <% records.each do |performer| %>
      <% performer[:songs].each do |song| %>
        <tr>
          <%= render partial: 'application/tooltip_td', locals: { text: performer[:name], tooltip_text: "Performer Code: #{performer[:code]}" } %>
          <%= render partial: 'application/tooltip_td', locals: { text: song[:name], tooltip_text: "Song Code: #{song[:code]}" } %>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
