<a
    id="nav-rpt-<%= rpt_format %>-tab"
    class="dropdown-item rpt-nav-tab rpt-header-item<%#= active ? ' active' : '' %>"
    data-toggle="tab"
    data-target="#nav-rpt-<%= rpt_format %>"
    role="tab"
    aria-selected=<%= active ? 'true' : 'false' %>
  >
  <%= display_name %>
</a>
