<% youtube_key = record[:youtube_key] %>
<% url = SongPlay.youtube_embed_url(youtube_key) %>
<% performers = record[:performers] %>
<% performer_names = performers.pluck(:name).join("<br/>") %>
<% performer_code_text = performers.count == 1 \
    ? "Performer code: #{performers.first[:code]}"
    : "Performer codes: #{performers.pluck(:code).join(', ')}"%>

<%= render(partial: 'tooltip_td', locals: { text: record[:song_name], tooltip_text: "Song code: #{record[:song_code]}" }) %>
<%= render(partial: 'tooltip_td', locals: { text: performer_names,    tooltip_text: performer_code_text }) %>
<td><%= render partial: 'application/youtube_image_link', locals: { url: url } %></td>
