<% column_headings = ['Song Name', 'Performer Name', 'Play'] %>

<div class="table-responsive">
  <table class="table <%= ' data-table' if records.count > 1 %> thead-dark table-striped">
    <thead class="thead-dark">
    <tr>
      <% column_headings.each do |heading| %>
        <th><%= heading %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% records.each do |record| %>
      <tr>
        <%= render partial: 'reports/song_play', locals: { record: record } %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
