<% init_reports_metadata %>
<div class="container-fluid no-horiz-padding">
  <h5>Here is some information about the Tepper-Bennett songs (the data is still a work in progress).</h5>
  <div>
    <div id="reports-accordion" class="accordion">
      <br/><br/>

      <% @reports.each do |report| %>
        <% active = (report_type == report.locals[:name]) %>
        <%= render partial: 'report_card', locals: report.locals.merge({ active: active }) %>
      <% end %>

    </div>
  </div>
</div>

