<div class="container-fluid no-horiz-padding">
  <br/>
  <p>Here is some information about the Tepper-Bennett songs (the data is still a work in progress).</p>
  <div>
      <br/><br/>

      <% report_metadata.each do |report| %>
        <div>
          <h3><%= link_to report.title, "/reports/#{report.rpt_type}" %></h3>
        </div>
      <% end %>

    </div>
  </div>
</div>

