<%#= inspect(local_assigns) %>
<%#= inspect(report) %>
<div class="title"><h2>Report: <%= title %></h2></div>
<br/>
<div>
  <div id="rpt-card" class="card rpt-card" style="background-color: unset">
  </div>
  <div>
    <div class="container">
      <div class="row">

        <div class="col-2 no-horiz-padding" style="text-align: left;" >
          <button id="rpt-back-button" class="btn btn-primary medium-button" alt="Back to Reports Menu" data-toggle="tooltip" data-placement="top" title="Back to Reports Menu">Back</button>
        </div>

        <div class="col-8">
          <div class="container nav-container no-horiz-padding">
            <nav class="nav nav-pills nav-fill navbar-expand nav-justified">
              <div class="navbar-brand nav-link rpt-header-item">Format:</div>
              <% [%w{html HTML}, %w{text Text}, %w{json JSON}, %w{yaml YAML}, %w{ap AP}].each do |(format, display_name)| %>
                <%= render partial: 'reports/report_format_nav_tab', locals: { rpt_format: format, display_name: display_name, active: target_rpt_format == format } %>
              <% end %>
            </nav>
          </div>
        </div>

        <div class="col-2 align-self-center no-horiz-padding" style="text-align: right;">
          <button id="rpt-copy-button" class="btn btn-primary rpt-header-item" alt="Copy to clipboard" data-toggle="tooltip" data-placement="top" title="Copy to clipboard">
            Copy
          </button>
        </div>
      </div>
    </div>

    <br/>
    <br/>

    <div class="container no-horiz-padding">
      <div class="tab-content" id="<%= content_tab_id %>">
        <% %w{html text json yaml ap}.each do |format| %>
          <%= render partial: 'reports/report_format_nav_content', locals: { rpt_format: format, content: report.content(format), active: target_rpt_format == format } %>
        <% end %>
      </div>
    </div>
  </div>
</div>